@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";

@theme {
    --font-Nunito: 'Nunito', sans-serif;
}

@utility container {
    margin-inline: auto;
    padding-inline: 12px;
}

body {
    @apply font-Nunito text-white bg-slate-400;
}

header,
footer {
    @apply bg-slate-700 font-bold text-center p-3;
}

section {
    @apply bg-slate-700 rounded-xl my-3;
}

.section-title {
    @apply font-bold text-center py-2 border-b-2 border-white;
}

.section-container {
    @apply p-3;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}